
          @media only  screen and (max-width: 500px) {
          	*{ box-sizing: border-box;
          		margin: 0;
          		padding: 0;
          	}
               

                
          	nav{
                  


          		display: none;
          	}
                .main{        
                display: grid;  
                width:100%;    
                      


                     
                    margin:     4vh 0;
                    margin-left: -4vw;
               }
               .main .name{
                    text-align: center;
                    width: 200px;
                    margin: 3%;
               }

            .main .name p{
               font-size: 10px;
               color: white;
               margin-top: -20px;



          }

          .main .name h1{
               font-size: 15px;
               letter-spacing: 0;
               color: white;
            font-weight: 500;
            margin-top: -3%;
            
          }
           
          .main .name h3{
               font-size: 10px;
               color: white;
               margin-top: -3%;

          }
          .main .name button{
               width: 70px;
               height: 15px;
               border: 1px solid white;
           
               font-size: 10px;
               margin: 0;
                
                

          }
          .main .name h4  {
               font-size: 10px;
               width: 120%;
             
          }
          .name .icn a{
               
               font-size: 10px;
      
          }
           


          	.container3{
          		display: grid;

          		 justify-content: center;
          		align-items: center;
          	}
          	.container3 .box{
          		width: 350px;

          	}
          	.container3 .box h1,p,h4{
          		 
          		padding: 10px;
          	}
          	.container{
          		display: grid;
          		align-items: center;

          	}
          	.container .box{
          		width:  350px;
          		text-align: start;
          	}
               .navalt{
                      width: fit-content;
               }
           

          	.navalt .ham{
          		display: block; 
                           	}

           

           .ham.show   #first{
          		transform: rotateZ(45deg)translateY(13px); 
          		transition: 0.3s ease;

          	}
            .ham.show   #second{
          		visibility: hidden;
          	}
          	 .ham.show  #third{
          		transform: rotateZ(-45deg)translateY(-12px);
          		transition: 0.3s ease;
          	}

          	 
               .skills{
           
                margin-top:-12%;
                width:80%;   
              
              
             
           



           }

          	.skills .skill1{
          		width:70px;
          		height: 60px;
                    margin: 5px;
                               	}
               .main #dps{
                    margin: 2%;
               }

          	.main .dp{
                    display: block;
          		width: 100px;
          		height: 100px;
               margin:0 auto;
          	}
               .main .dp:hover{

               box-shadow: 0 0 2px 2px cyan;
               }
          	.skills  i{
		  	font-size: 1em;
		  	
		  }
		  .skills .skill1 h4{
		  	font-size: 7px;
		  }
		 /* This css is for project sections*/
            .back2{
               width: 100%;
            }
            .exp p{letter-spacing: 1px;
               padding-top: 2%;
                

          }
          .exp h1{letter-spacing: 1px;
               font-size: 15px;
               font-weight: 600;
      
          }
           .exp  p{
               margin-left: -4%;
               font-size: 12px;
           }
           .container {
               grid-template-columns: 1fr  ;
               grid-gap: 10px;
           }
           .container .box{ width: fit-content;
            margin: 0 auto;
                     }

          .container .box img{
                width: 220px;
               height: 200px;
              
                

           }
           .container .box #caption  {
               
               font-size: 12px;
            
                
               
          }
          .container .box #caption span {
               
               font-size: 12px;
            
                
               
          }
          .container .box #tech h6{
               font-size: 10px;
          }
          /* This css is for Certifications section*/
           
            #certinames{
              

               width:90%;
               height: 70vh;
              
               margin: 0 auto;
                
            }
             #certinames h1{
               font-size: 15px;
             }
             #certi{
              
              width: 70vh;
             height: 50vh;
             }
             #certi img{
               width:90%;
               height: 90%;
               margin-bottom: 0;
             }
		  #certinames i{
               font-size: 1rem;
            }
             #chevron{
               width: 5%;
          }
            /* This css is for product contact*/
               .product{
                    width:90%;
                    margin: 0 auto;
                       height: 140px;
margin-top:-10%;
               }
               .product .talk {
               
               font-size: 15px;
          }
           .product .shake em {
               font-size: 12px;
           }
          .product button{
               width: 50%;
               font-size: 12px;
               height: 25px;
          }
                /* This css is for footer contact*/

           footer{ width:100%;
              }
              .ftname{
               font-size: 15px;
              }
              .fticons{ 
               width: 90%;
           }
              .fticons a{
               font-size: 10px;
              }
              .fticons i{
               font-size: 10px;
              }
              .design{  
             
               border:none;
               font-size: 10px;
              }
               .copy{   
                    font-size: 10px;
               }
          .switch{
             
               
               width: 100px;
               height: 60px;
               padding: 10px;
                  margin:0;

              
          }
          .switch label{
                 
              
               font-size: 8px;

          }
          .switch input{
               width: 10px;
               height: 10px;
          }
          #mobile{
               width: 100%;
            background-color: #322e45;
               display: flex;
               align-items: center;
               justify-content: space-around;
               border-top: 2px solid #37a7ff;          }
#mobile1{
     width: 70%;
}

 .GIT{
margin: 0 auto;
     width: 70%;
     height: 140px;
     margin-top:-10%;
 }
  .GIT h3{
     font-size: 8px;
  }
 
  .GIT .data{
     width: 50%;
     height: 15px;
     font-size: 8px;
  }
  .GIT #sub{
     width: 50%;
     height: 15px;
      font-size: 8px;
padding: 3px;
  }
  #confirm{
     height: 140px;
     width: 70%;
     margin: 0 auto;
     font-size: 12px;
     margin-top:-10%;
  }
  #confirm i{font-size: 1rem;}
   #confirm h1{
     font-size: 15px;
   }


          }
