
*{
			margin:0px;
			padding: 0px;
font-family: 'Cabin Condensed', sans-serif;

		}


		html{
			scroll-behavior: smooth;
			transition: 0.2s linear;


		}
		html::-webkit-scrollbar {
			width: 0.4rem ;

		}
		
		html::-webkit-scrollbar-track{
			 box-shadow: inset 0 0 5px 1px grey; 
			background: transparent;
		}
		html::-webkit-scrollbar-thumb{
			background:white;
			border-radius: 5rem;                      
		 
		 
			 
		}
		html::-webkit-scrollbar-thumb:hover{

		}

	 

		


		body{  background-color:#37324b;

			background-size:cover;
			background-repeat: no-repeat;
			background-attachment: fixed;
		 
 

			 
		}
		  


		nav{position: fixed;

			 
			 
			display: flex;
			background-color: #be3144;


			 
			justify-content: space-between;
			padding:  0 5%;
			width: 100%;
			height: 9vh;
			 
			z-index: 1;



		}
		 
		nav .myname{
	 
			display: grid;
			align-content: center;


			width: 17%; 
			 
		 
		 
			color: white;
			font-size: 20px;
			 

			 
		}
		nav .myname .desi{

			color: white;
		}
		nav .myname .sepe{
			color: #ff2a75;
		}
		 
		nav .details{ margin-right: 8%;
			width: 40%;
			display: flex;
			align-items: center;
			justify-content: space-between;
			 
		 
			 


			 
		}
		nav .details #details-hover a{
 
			text-decoration: none;
			font-size: 16px;
			color: white;
			font-weight: 600;
			


		 

			 
			 
			
			 
			
			 display: block;
		

		}
		nav .details  #details-hover{


		
		
			width: 25%;
			height: 100%;
				display:grid;
			align-items: center;
			text-align: center;
			

			 

		}
		nav .details  #details-hover:hover{
			background-color: black;

			
			 

			 

			 
			transition: 0.2s ease;


		}
		nav .details  #details-hover:hover a{
				opacity: 1;

		}



		#back-to-top{
			text-decoration: none;
		
			position:fixed;
			background-color: #ff6005;
			width: 30px;
			height: 30px;
			text-align: center;
		 

			 			 
	 
		 
			 
			top: 80%;
			left: 97%;
			z-index: 99;
		
			border-radius: 20%;
				display: none;
		
			
		}
		#back-to-top i{ 
			margin-top:6px;
			 		 

			font-size: 1rem;
			color: white;

		}
		#back-to-top:hover{
			cursor:pointer;
		}
		.main{

			width: 55%;
			margin:0 auto; 	
			margin-top:100px;


			 
			display: flex;
			justify-content: space-around;
			 
			align-items: center;
			 
		}
		.main .dp{width: 220px;height: 220px;}
		.main .order{
			display: flex;
			background-color: yellow;

		}
		.main .name { 
			width: 400px;
		 
			 
			 
			margin-top: 2%;
			display: grid;
		 
			 
			padding: 2% 1%;
		 
		}
		.main .name p{
			font-size: 22px;
			color: white;
		 



		}
		.main .name h1{
			font-size: 45px;
			letter-spacing: -1px;
			color: white;
            font-weight: 600;
            margin-top: -2%;
            margin-bottom: 2%;
            
		}
		 
		.main .name h3{
			font-size: 20px;
			color: white;
			font-weight: 400;
			

		}
		.main .name h4{
			font-size: 19px;
			color: white;
			font-weight: 400;
			 

		}
		.main .name h4 #textChange{
		 
			color: white;
			font-weight: 400;
			display: inline;

		}
		.main .name h4 #textChange::before{
			 				font-style: italic;
				content: "";
			color: cyan;
			font-weight: 600;

			animation-name: typeText;
			 
			animation-duration: 10s;
			animation-iteration-count: infinite;
			transition: 0.2s ease;
			

		}
		@keyframes typeText{
			 
			25%{content: " Fully Responsive Websites";

			}
			50%{
				content: "Attractive Landing Pages";
			}
			75%{
				content: "Well-Documented Websites";
			}
			100%{
				content: "Interactive Web Applications";
			}
		}


		.main .name button{
			width: 200px;
			height: 50px;
			border: 2px solid white;
			color: white;
			font-size: 25px;
			padding: 1% ;
			 background:transparent;
			border-radius: 30px;
		
			margin-top:3%;

		}
		.main .name button:hover{
			
			border:2px solid
			cyan;

			color: black;
			transition: 0.5s ease;
			cursor: pointer;
			transform: translateY(-5px);
			box-shadow:inset 0 0 10px 10px  cyan,inset 0 0 80px 10px cyan,inset 0 0 100px 10px cyan,inset 0 0 70px 10px  cyan;

		}
		.name .icn{
			color: white;
			font-size: 25px;
	 
		}
		.name .icn a{
			text-decoration: none;
			color: white;

		}
		 
         
         .back2{
         	width: 100%;
         	
         		background-color: #45567d;
         		 
         	 
         	 
         	padding-bottom: 5%;
         	color: white;

         }
		.exp{
		 
			margin: 10% 0 5% 5%;
		}
		.exp p{letter-spacing: 2px;
			padding-top: 2%;
			 

		}
		.exp h1{letter-spacing: 2px;
			font-size: 45px;
			font-weight: 700;
			letter-spacing: -1px;
	 
		}
		 
		.exp  .sp1 .line2 {
			 width: 2%;
			 height: 2px;
			background-color:#37a7ff; 
			margin-top: 1%;
			 

		}
		.exp  .sp1:hover .line2 {
			width: 25%;
			transition: 0.5s ease;
		}

		.container{
			width: 90%;
		 margin:20px auto;
		 

	 

			 
			display: grid;
			grid-template-columns: 360px 360px 360px;
			grid-row-gap: 120px;
			 
			justify-content: space-around;
			 


			 
			align-items: center;
			 
		}
		.container .box{
			 
			 display: grid;
			 align-content: center;
			 width: 350px;
			overflow:hidden;
			 
			 			 

			height: fit-content;		border:2px solid white;
			 

			 
			 
			 


			 


		}
		.container .box img{
			width: 360px;
			height: 360px;
		}
		.container .box:hover{
			cursor: pointer;
		}
		.container .box #caption{
			width: 100%;
		 
			height: fit-content;
			 
			background-color: #303841;
			color: white;
			text-align: center;
			padding: 5px 0;
		 
		 
			font-size: 20px;
			 
			 
		}
		.container .box #caption span{
			visibility: hidden;
			color: red;
			font-size: 25px;
			 
			
		}
		.container .box #tech{
			background-color: #303841;
		}
		.container .box #tech h6{
			 text-align: center;
			 margin: auto;
			 font-size: 13px;
			 font-weight: 400;
			 color:#dfdfdf;
			 padding: 2px 0;
		}
		.container .box:nth-child(1):hover #caption #hovv:nth-child(1) {
			visibility: visible;
			transition:0.6s;
			 
		}
		.container .box:nth-child(1):hover #caption #hovv:nth-child(2) {
			visibility: visible;
			transition:0.6s;
			 
		}
		.container .box a{
			text-decoration: none;
			color: white;
		}
		.container .box:nth-child(2):hover #caption #hovv:nth-child(1) {
			visibility: visible;
			transition:0.6s;
			 
		}
		.container .box:nth-child(2):hover #caption #hovv:nth-child(2) {
			visibility: visible;
			transition:0.6s;
		 
		}
		.container .box:nth-child(3):hover #caption #hovv:nth-child(1) {
			visibility: visible;
			transition:0.6s;
		}
			 
		.container .box:nth-child(3):hover #caption #hovv:nth-child(2) {
			visibility: visible;
			transition:0.6s;
			 
		}
		.container .box:nth-child(4):hover #caption #hovv:nth-child(1) {
			visibility: visible;
			transition:0.6s;
			 
		}
		.container .box:nth-child(4):hover #caption #hovv:nth-child(2) {
			visibility: visible;
			transition:0.6s;
		 
		}
		.container .box:nth-child(5):hover #caption #hovv:nth-child(1) {
			visibility: visible;
			transition:0.6s;
			 
		}
		.container .box:nth-child(5):hover #caption #hovv:nth-child(2) {
			visibility: visible;
			transition:0.6s;
		 
		}
		.container .box:nth-child(6):hover #caption #hovv:nth-child(1) {
			visibility: visible;
			transition:0.6s;
			 
		}
		.container .box:nth-child(6):hover #caption #hovv:nth-child(2) {
			visibility: visible;
			transition:0.6s;
		 
		}
		.container .box:nth-child(7):hover #caption #hovv:nth-child(1) {
			visibility: visible;
			transition:0.6s;
			 
		}
		.container .box:nth-child(7):hover #caption #hovv:nth-child(2) {
			visibility: visible;
			transition:0.6s;
		 
		}
		.container .box:nth-child(8):hover #caption #hovv:nth-child(1) {
			visibility: visible;
			transition:0.6s;
			 
		}
		.container .box:nth-child(8):hover #caption #hovv:nth-child(2) {
			visibility: visible;
			transition:0.6s;
		 
		}
		.container .box:nth-child(9):hover #caption #hovv:nth-child(1) {
			visibility: visible;
			transition:0.6s;
			 
		}
		.container .box:nth-child(9):hover #caption #hovv:nth-child(2) {
			visibility: visible;
			transition:0.6s;
		 
		}
		.container .box:nth-child(10):hover #caption #hovv:nth-child(1) {
			visibility: visible;
			transition:0.6s;
			 
		}
		.container .box:nth-child(10):hover #caption #hovv:nth-child(2) {
			visibility: visible;
			transition:0.6s;
		 
		}
	
	

		.dp{
			border-radius: 10%;
			color: white;
			 
			 

		}
		.dp:hover{
			box-shadow: 0 0 7px 4px cyan;
			transition: 0.3s ease-in-out;

		}

		.back3{
			background-color:#45567d;
			padding-bottom:0 5%;
			 
		}

		.container3{
			width: 100%;
			margin: 2% 0;

			 
			display: flex;
			justify-content: space-around;
			align-items: center;
		}

		.container3 .box{
			width:45%;
		 
			
			height: 400px;
			margin: 2% 1%;
			padding: 1% 2%;

		}
		.container3 #box1 {
			background-color: #7b32d5;
			color: white;
			 
		}
		.container3 #box2{
			background-color: #ff2a75;
			color: white;
		}
		.container3 #box3{
			color: white;
			background-color: #37a7ff;
		}
		.container3 #box1  h1{
			font-size: 42px;
			font-weight: 400;
		} 
		.container3   #box1  h4{
			font-size: 25px;
			font-weight: 400;
			text-align: right;

		} 
		.container3 #box1  h4 .found{
			font-size: 20px;
		}
		.container3 #box1  p{
			font-size: 17px;
			font-weight: 400;
		}


		.container3 #box2  h1{
			font-size: 42px;
			font-weight: 400;
		} 
		.container3   #box2  h4{
			font-size: 25px;
			font-weight: 400;
			text-align: right;

		} 
		.container3 #box2  h4 .found{
			font-size: 20px;
		}
		.container3 #box2  p{
			font-size: 17px;
			font-weight: 400;
		}




        .container3 #box3  h1{
			font-size: 42px;
			font-weight: 400;
		} 
		.container3   #box3  h4{
			font-size: 25px;
			font-weight: 400;
			text-align: right;

		} 
		.container3 #box3  h4 .found{
			font-size: 20px;
		}
		.container3 #box3  p{
			font-size: 17px;
			font-weight: 400;
		}









		.container3 .box:hover{
			box-shadow: 0 0 5px 3px cyan;
		     transform: scale(1.1);
		     transition: 0.3s ease;
		}
		.exp2{
		    margin: 0 3%;
		      color: white;

			 
			 
		}
		.exp2 p{
			padding-top: 2%;
			letter-spacing: 3px;
			 

		}
		.exp2 h1{
			font-size: 45px;
			font-weight: 700;
			letter-spacing: 2px;

			 
		}
		.exp2 .sp2 .work{
			color: #37a7ff;

		}
		

		.exp2  .sp2 .linehp{
			 width: 2%;
			 height: 2px;
			background-color:#37a7ff; 
			 

		}
		.exp2  .sp2:hover .linehp {
			width: 25%;
			transition: 0.8s ease;
		}

		.product{
			 
			 
			
          text-align: center;
          padding: 5% 2%;
       
          height: 210px;
         
       

		}

		.product .talk{
			
			font-size: 55px;
			 
			color: white;
			font-weight: 200;


		}
		.product .shake{ 
			 font-size: 20px;
			 color: white;
			 padding: 10px;
		}

		.product button{

			width: 25%;
			height:60px;
			border-radius: 40px;
			background:transparent;
			border: 2px solid #37a7ff;
			color: white;
			font-size: 20px;
			 

			 

			
		}
		.product button:hover{
			 
			transform: translateY(-6px);
			transition: 0.2s ease-in-out;
			cursor: pointer;
			box-shadow:inset 0 0 10px 10px  #37a7ff,inset 0 0 80px 10px #37a7ff,inset 0 0 100px 10px #37a7ff,inset 0 0 70px 10px  #37a7ff;

		}
		footer{
			background-color:  #37324b;
			margin-top: -2.5%;
			width: 100%;
					}

		.ftname{
			text-align: center;
			font-size: 25px;
			color: white;    
			padding: 5px;

		}
		.ftname .ud{
			 
			font-weight: 600;
			color: #37a7ff;
		}
		.ftname .ara{
			font-weight: 200;
		}

		       .fticons{  
		       	width: 60%;
			display: flex;
			align-items: center;
			justify-content: space-around;
		 
		 margin:2vh auto;
			padding: 2%;

			 
		}
		.fticons i{
			 
			color: white;
			font-size: 1.3em;
			font-weight: 400;
			text-align: center;
		}
		.fticons a{
			font-size: 1.3rem;
			text-decoration: none;
		 
			color: white;
			text-align: center;

		}
		.design{

			border-top: 2px solid #37a7ff;

			text-align: center;
			font-size: 20px;
			 
			 padding: 4% 0;
			
			 color: white;
			  background-color: #322e45;

		}
		.design span{
			opacity: 0.75;
		}


		 

		.glow:hover{
			  
			cursor: pointer;
			transform: translateY(3px);
			 
			transition: 0.2s ease-in-out;
			 
			 
		}


		.ftname .lineft{
			width: 7%;
			height: 4px;
			background-color:#37a7ff;
			margin:0 auto;
		 

		}

		.exp2 h1 .linehp{
			width: 1%;
			height: 2px;
			background-color: #ff2a75;
			margin: 1.5% 0%;

		}
		.exp2 h1:hover .linehp{
			width: 13%;
			 
			transition: 0.8s   ease;
		}



		.copy{
		 	 
		 	 
		 	text-align: center;
		 	font-size: 20px;
		 	 padding: 1%;
		  
		 	background-color: #322e45;
		 	color: white;
		 	margin-top: -4%;

		 }


		 .know{
		 	text-decoration: none;
		 }

		 .skillsContainer{
		display: none;
		 }



		 .skills{

		 	display: flex;
	 
		 	justify-content: space-between;
		 	align-items: center;
		 	flex-wrap: wrap;
		 	padding: 3% 3%;
		 	width: 50%;

		 	 margin: 0 auto;


		
		 	
		 	
		 	border-top: 1px solid white;
		 }
		 .skills .skill1{
		 	box-shadow:inset 0 0 5px 3px  #ada7af;
		 
		 	border-radius: 5%;
		 	width: 15%;
		 	height: 14vh;
		 	cursor: pointer;
		 	 
		 	text-align: center;
		 	display: grid;
		    align-items: center;
		    padding: 1%;



		   



		 }
		  .skills  i{
		  	font-size: 2em;
		  	
		  }

		  .skills  .skill1:nth-child(1) i{
		  	color: lightgreen;
		  }
		  .skills  .skill1:nth-child(2) i{
		  	color: #FEC04F;
		  }
		  .skills  .skill1:nth-child(3) i{
		  	color:  #ACDDDE;
		  }
		  .skills  .skill1:nth-child(4) i{
		  	color: #FEF8DD;
		  }


		  .skills .skill1 h4{
		  	font-weight: 400;
		  	color: white;
		  	 
		  }


	      .skills  .skill1:nth-child(1){
	           	border: 2px solid  lightgreen;
          }
          .skills  .skill1:nth-child(2){
 	          border: 2px solid #FEC04F;

          }
           .skills  .skill1:nth-child(3){
            	border: 2px solid #ACDDDE;
          }
           .skills  .skill1:nth-child(4){
                 	border: 2px solid #FEF8DD;

          }

          .skills  .skill1:nth-child(1):hover{
	           	transform: scale(1.1);
	           	transition: 0.8s ease-in-out;

          }
          .skills  .skill1:nth-child(2):hover{
	           	transform: scale(1.1);
	           	transition: 0.8s ease-in-out;
	            
          }
          .skills  .skill1:nth-child(3):hover{
	           	transform: scale(1.1);
	           	transition: 0.8s ease-in-out;
	            
          }
          .skills  .skill1:nth-child(4):hover{
	           	transform: scale(1.1);
	           	transition: 0.8s ease-in-out;
	            
          }


          .switch{
          	width: 120px;
          	height: 80px;
          	float: right;

          	margin-top: -5%;
          	   

          }

          .switch label{
          	  
          	color: white;
          	font-size: 12px;

          }

          .switch .optionss{
          	display: none;
           
          }

          .switch:hover .optionss{
          	display: block;
          	transition: 0.8s ease;
          }

          .GIT{
          	 
			 
			 padding: 5% 2%;
          
          height: 210px;
          text-align: center;
         
          display: none;
           

          }


          .GIT .data{
          	text-align: center;
          	width: 350px;
          	height: 40px;
          	margin: 3px 0;
          	border-radius: 30px;

          	 
          	 


          }

          .GIT h3{
          	color: white;
          	font-size: 40px;
          	  margin: 0 0;
          	  font-weight: 200;
          }
          .GIT #sub{
          	margin: 10px;
          	padding: 5px;
          	width: 150px;
          	height: 35px;
          	font-size: 18px;
          	border-radius: 10px;
          	background: transparent;
          	border: 1px solid #37a7ff;
          	color: white;
          }

          .GIT #sub:hover{
          	transform: translateY(-2px);
			transition: 0.2s ease-in-out;
			cursor: pointer;
			box-shadow:inset 0 0 10px 10px  #37a7ff,inset 0 0 80px 10px #37a7ff,inset 0 0 100px 10px #37a7ff,inset 0 0 70px 10px  #37a7ff;

          }
          .navalt{
          	position: absolute;
           margin: 20px;
          
          	 z-index: 2;
       
           
       

          	 
          
          	 
          	 
          	 
          	 
          }

          .navalt .ham{
           
          	 
          	 
          	cursor: pointer;
       
          	 
          	height: 30px;
          	display: none;
          	 
          	width: 100%;
          	 


          	 
          	 
          }


          .navalt .ham>div {
          	background-color: white;
          	width: 20px;
          	height: 1px;
          	margin:8px 0;

          }
            .options{
          	position: absolute;
          	top: 50px;
          	width: 50%;
        background-color: #be3144;
          	 left: -120%;
          	 transition: 0.4s ease;

        


          	 

          	 


          	 
          }

           .options ul{
          	list-style: none;
          	 



          }

          .options ul li{
        
          	
          	color: white;
          padding: 10px;

         

          }

            .options ul li a{
           	text-decoration: none;
           	color: white;
           	font-size: 15px;
           	  display: flex;
           	    	cursor: pointer;
          justify-content: space-between;
           
        
           }
             .options ul span{
           	display: block;

           }
             .options ul li:hover{
            	background-color: black;
            }

           #confirm{
           	 
			
          padding: 5% 2%;
          
          height: 210px;
         text-align: center;
          display: none;
          

           }
            #confirm h1{
            	font-weight: 200;
            	color: #37a7ff;
            }
            #confirm i{
            	font-size: 65px;
            	color:#37a7ff;
            }



            

            #certinames{
            	text-align: center;
            	background:transparent;
            	width: 100%;
            	 
            	 
            	 
            	 
            	color: white;
            	 

            }
            #chevrondiv{
            	display: flex;
            	justify-content: space-around;
            }
            #chevron{
            	width: 10%;
             
            	display: grid;
            	align-content: center;
                         }
            #certinames h1{
            	padding: 20px;
            	font-size: 40px;
            	font-weight: 600;
            }

            #certinames i{
            	font-size: 4rem;
            	 
            	cursor: pointer;
            	color: white;
            	 



            }
             
           
            
             #certi img{

                  width: 80vw;
                  height: 90vh;
                  display: none;
               
            	 
            }
             #certi img:nth-child(1){
             	display: block;
             }

             












          
